
.debug-info img{
	display: inline-block;
}
.debug-info p{
	display: inline-block;
}


.roundButton:hover { 
    background-color: #33cccc;
    cursor: pointer;
}

.roundButton {
 	width: 20%;
 	border: none;
 	border-radius: 0%;
 	font-size: bold;
 	margin: auto;
 	background-color: #66d9ff;
 	color: #000;
}

.roundButton p{
 	color: #000;
 	font-size: bold;
	display: inline-block;
 	vertical-align: middle;
 	line-height: normal;  
}

.results{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}



img{
  	display: inline-block;
  	vertical-align: middle;
  	line-height: normal; 
}


.board {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 800px;
    border: 1px solid black;
} 